# Python
__pycache__/
*.pyc
venv/
backend/build/
backend/*.spec

# Node
node_modules/
dist/

# Database
*.db
*.db-shm
*.db-wal
backend/backups/
backend/static/

# Env
.env

# OS
.DS_Store

# Temp
*.csv.tmp
